[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
nose = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
lint = "flake8 ."
fix = "autopep8 -ivr ."
test = "nosetests tests"
